<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{addressText}}</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="changeAddress()">
    <button *ngIf="myControl" matSuffix mat-icon-button aria-label="Clear" (click)="remove()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addressChosen($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="(myControl.errors?.['required'] && myControl.touched && ((showErrors) || (!isRealAddress)))">Ovo polje je obavezno</mat-error>
  </mat-form-field>
</form>
