<form class="example-form" style="margin: 5% auto">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Klijent</mat-label>
      <input matInput
             aria-label="user"
             [matAutocomplete]="auto"
             [formControl]="userCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.user.email">
        
          <span>{{user.user.email}}</span> |
          <small>{{user.user.name}} {{user.user.surname}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <br>
  
  
  </form>