
<div class="container-xl px-4 mt-4">
    
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-secondary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    Informacije u korisniku
                </div>
                <div class="card-body">
                    <form>
                        
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Ime </label>
                                <input disabled="{{disabled}}" class="form-control" id="inputFirstName" type="text" placeholder="Unesite ime.." [(ngModel)]="driversAccount.user.name" name="firstname">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Prezime</label>
                                <input disabled="{{disabled}}" class="form-control" id="inputLastName" type="text" placeholder="Unesite prezime.." [(ngModel)]="driversAccount.user.surname" name="surname">
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (email address)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input disabled="true" class="form-control" id="inputEmailAddress" type="email" placeholder="Unesite email.." [(ngModel)]="driversAccount.user.email" name="email">
                            </div>
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Broj telefona</label>
                                <input disabled="{{disabled}}" class="form-control" id="inputPhone" type="tel" placeholder="Unesite broj telefona" [(ngModel)]="driversAccount.phone" name="phone">
                            </div>
                            
                        </div>
                        <!-- Form Row        -->
                        
                        
                        <!-- Save changes button-->
                        <div class="row">
                            <div id="buttonsDiv">
                                <!--<button class="btn btn-secondary" type="button" id="cancelProfileInfo" *ngIf="!disabled" (click)="cancelChange()">Cancel</button>
                                <button class="btn btn-secondary" type="button" id="saveProfileInfo" (click)="change()">{{izmena}}</button>
                                -->
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
                    </svg>
                    Informacije u autu
                </div>
                <div class="card-body">
                    <form>
                        
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputbrand">Brend </label>
                                <input disabled="{{disabled}}" class="form-control" id="inputbrand" type="text" placeholder="Unesite brend auta.." [(ngModel)]="driversAccount.car.brand" name="CarBrand">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputModel">Model</label>
                                <input disabled="{{disabled}}" class="form-control" id="inputModel" type="text" placeholder="Unesite model auta.." [(ngModel)]="driversAccount.car.model" name="model">
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (email address)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCarColor">Boja</label>
                                <input disabled="{{disabled}}" class="form-control" id="inputCarColor" type="text" placeholder="Unesite boju auta.." [(ngModel)]="driversAccount.car.color" name="carColor">
                            </div>
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputRegistrationPlate">Broj registracija</label>
                                <input disabled="true" class="form-control" id="inputRegistrationPlate" type="text" placeholder="Unesite broj registracije" [(ngModel)]="driversAccount.car.plateNumber" name="CarPlateNumber">
                            </div>
                            
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                              <label for="registeredCarBodyType">Karoserija</label>
                              <select disabled="{{disabled}}" class="form-control" name="registeredCarBodyType" [(ngModel)]="driversAccount.car.bodyType">
                                <option>COUPE</option>
                                <option>HATCHBACK</option>
                                <option>SUV</option>
                                <option>JEEP</option>
                                <option>SEDAN</option>
                              </select>
                              
                            </div>
                          
                            <div class="form-group col-md-6">
                              <label for="exampleInputFuel2">Gorivo</label>
                              <select disabled="{{disabled}}" class="form-control" name="registeredFuelType" [(ngModel)]="driversAccount.car.fuelType">
                                <option>GASOLINE</option>
                                <option>DIESEL</option>
                                <option>AUTOGAS</option>
                              </select>
                            
                            
                            </div>
                        
                        
                          </div>
                          <hr>
                        
                        <!-- Form Row        -->
                        
                        
                        <!-- Save changes button-->
                        <div class="row">
                            <div id="buttonsDiv">
                                <button class="btn btn-secondary" type="button" id="cancelProfileInfo" *ngIf="!disabled" (click)="cancelChange()">Cancel</button>
                                <button class="btn btn-secondary" type="button" id="saveProfileInfo" (click)="change()">{{izmena}}</button>
                            
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>