<h1 mat-dialog-title align="center">Password change</h1>
<div mat-dialog-content style="margin: 20px;">
  <div>
    <div>
      <mat-form-field  appearance="fill">
        <mat-label>Old password</mat-label>
        <input type="password" matInput [(ngModel)]="passwordChangeData.oldPassword">

      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input type="password" matInput [(ngModel)]="passwordChangeData.newPassword">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">

        <mat-label>New password confirm</mat-label>
        <input type="password" matInput [(ngModel)]="newPasswordRepeat">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions style="margin: 0 auto;">
  <div style="margin: 0 auto;" class="w-75">
    <button class="col-md-5" mat-button (click)="onNoClick()">Odustani</button>
    <button class="col-md-5" mat-button  cdkFocusInitial (click)="changePassword();">Sacuvaj</button>

  </div>
</div>
