<form #loginForm="ngForm" (ngSubmit)="login(loginForm)"  class="example-form">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Prijava</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <mat-form-field appearance="fill">
        <mat-label >Unesite email</mat-label>
        <input ngModel matInput name="username" type="email" placeholder="primer@gmail.com" required>
        <mat-error *ngIf="username.invalid && username.hasError('required')">Ovo polje je obavezno</mat-error>
        <mat-error *ngIf="username.invalid && username.hasError('email')">Email nije u ispravnom formatu</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Unesite sifru</mat-label>
        <input ngModel matInput name="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">Ovo polje je obavezno</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btn btn-secondary" style="margin-bottom: 5px;" type="submit">Prijavi se</button>
    </mat-card-actions>

  </mat-card>
</form>
<div class="lightbox">
  <div class="multi-carousel">
    <div class="multi-carousel-inner">
      <div class="multi-carousel-item">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt="Table Full of Spices"
          class="w-100"
        />
      </div>
      <div class="multi-carousel-item">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/2.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/2.webp"
          alt="Winter Landscape"
          class="w-100"
        />
      </div>
      <div class="multi-carousel-item">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/3.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/3.webp"
          alt="View of the City in the Mountains"
          class="w-100"
        />
      </div>
      <div class="multi-carousel-item">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/4.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/4.webp"
          alt="Place Royale Bruxelles"
          class="w-100"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      tabindex="0"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      tabindex="0"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>

