<form #loginForm="ngForm" (ngSubmit)="login(loginForm)"  class="example-form">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Prijava</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <mat-form-field appearance="fill">
        <mat-label>Unesite email</mat-label>
        <input ngModel matInput name="username" type="email" placeholder="pat@example.com" required>
<!--        <mat-error *ngIf="email.invalid && email.hasError('required')">Ovo polje je obavezno</mat-error>-->
        <mat-error *ngIf="username.invalid && username.hasError('email')">Email nije u ispravnom formatu</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Unesite sifru</mat-label>
        <input ngModel matInput name="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Sakri sifru'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">Ovo polje je obavezno</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Prijava</button>
    </mat-card-actions>

  </mat-card>
</form>
