<form #loginForm="ngForm" (ngSubmit)="login(loginForm)"  class="example-form">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Prijava</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <mat-form-field appearance="fill">
        <mat-label >Unesite email</mat-label>
        <input ngModel matInput name="username" type="email" placeholder="primer@gmail.com" required>
        <mat-error *ngIf="username.invalid && username.hasError('required')">Ovo polje je obavezno</mat-error>
        <mat-error *ngIf="username.invalid && username.hasError('email')">Email nije u ispravnom formatu</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Unesite sifru</mat-label>
        <input ngModel matInput name="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">Ovo polje je obavezno</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button id="doLogInBtn" mat-raised-button class="btn btn-secondary" style="margin-bottom: 5px;" type="submit">Prijavi se</button>
    </mat-card-actions>

  </mat-card>
</form>


