<div >

  <div style="border-top-left-radius: 5px; border-top:2px solid; border-left: 2px solid;" class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex border-bottom align-items-center flex-shrink-0 p-3 Link-dark text-decoration-none">
      <mat-card-title>Admin</mat-card-title>
    </div>

    <div class="list-group list-group-flush scrollbar overflow-auto" #scrollMe [scrollTop]="scrollMe.clientHeight" style="height: 100%">
      <div class="list-group-item-action" *ngFor="let msg of messages" style="padding-bottom: 5px; padding-top: 5px;">

        <div *ngIf="msg.sender.email!=logged_user.email" style="width:fit-content; max-width: 75%; min-width: 30%; padding-left: 10px;">

          <div class="d-block" style="background-color: #dddddd; border-radius: 9px; border-bottom-left-radius: 0px;  padding-bottom:0px;padding-top:5px;padding-right:10px;padding-left:10px;">
            <strong class="mb-1">Admin</strong>

            <p style="margin-top: 7px;">{{msg.message}}</p>
            <p style="text-align: right;" *ngIf="!msg.read">
              <mat-icon  style="font-size: 20px; color: #888888">done_all</mat-icon>
            </p>
            <p style="text-align: right;" *ngIf="msg.read">
            <mat-icon  style="font-size: 20px; color: #000000">done_all</mat-icon>
          </p>
          </div>

        </div>
        <div *ngIf="msg.sender.email==logged_user.email" style="text-align: right; width: fit-content; max-width: 75%; min-width: 30%; padding-right: 10px;" class="float-right">

          <div class="d-block" style="background-color: #dddddd; border-radius: 9px; border-bottom-right-radius: 0px; padding-bottom:0px;padding-top:5px;padding-right:10px;padding-left:10px;">

            <strong class="mb-1">{{msg.sender.name + " " + msg.sender.surname}}</strong>
            <p style="margin-top: 7px;">{{msg.message}}</p>
            <p style="text-align: right;" *ngIf="!msg.read">
              <mat-icon  style="font-size: 20px; color: #888888">done_all</mat-icon>
            </p>
            <p style="text-align: right;" *ngIf="msg.read">
              <mat-icon  style="font-size: 20px; color: #000000">done_all</mat-icon>
            </p>
          </div>

        </div>
      </div>

    </div>

  </div>

  <form (submit)="submit()">

    <input name="messageInput" class="form-control" placeholder="Napisite poruku i pritisnite Enter..." [(ngModel)]="message"/>

  </form>

</div>
