<div class="col-md-6" style="margin:2% auto; border: solid 1px darkgreen;margin-bottom:10%">
    <div class="row">
        <div class="col-md-3" style="margin:5% auto">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Otp_bank_Logo.svg" style="width:80%;">
        </div>
       
        <div class="col-md-8" style="margin:5% auto">
            <label style="font-size:30px; color:darkgreen"><strong>Zahtev za omogucavanje placanja</strong></label>
           
        </div>
    </div>

    <label>Zahtev za pristup Vasem nalogu preko aplikacije <strong>YUBER</strong> u svrhu online placanja.</label><br><br>
    <label> Prihvatanjem zahteva, omogucili ste podnosiocu zahteva da Vam nalog koristi kao novcani izvor prilikom novcanih online transakcija izvrsenih preko aplikacije <strong>YUBER</strong>.</label>
    <div class="row" style="margin:5% auto">
       
        </div>
    <div style="margin:2% auto; border:solid 1px darkgreen; padding:2%; ">
        <label>Ime: </label>
        <input disabled id="clientsInfo" name="clientsName" [(ngModel)]="this.clientsAccount.user.name"><br>
        <label>Prezime: </label>
        <input disabled id="clientsInfo" name="clientsSurname" [(ngModel)]="this.clientsAccount.user.surname"><br>

        <label>Kontak email: </label>
        <input disabled id="clientsInfo" name="clientsEmail" [(ngModel)]="this.clientsAccount.user.email"><br>

        
    </div>

    <div style="display:flex; margin-bottom:5% ; justify-content: space-between;">
        <button class="btn btn-success" (click)="accept()">
            Odobri
        </button>
        <button class="btn btn-danger" (click)="decline()">Odbij</button>
    </div>

  
</div>

