<div class="col-md-6" style="margin:2% auto; border: solid 1px darkgreen;margin-bottom:10%">
    <div class="row">
        <div class="col-md-3" style="margin:5% auto">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Otp_bank_Logo.svg" style="width:100%;">
        </div>
       
        <div class="col-md-8" style="margin:5% auto">
            <label style="font-size:30px; color:darkgreen"><strong>Zahtev za pristup nalogu pod brojem: </strong></label>
            <label style="font-size:20px; color:rgba(10, 17, 4, 0.733);"><strong> 1234567891234567890 </strong></label>
        </div>
    </div>
    <div class="row" style="margin:5% auto">
       
        <label><strong>Jelena Manojlovic </strong> zeli da pristupi Vasem nalogu preko aplikacije <strong>YUBER</strong>.</label>
    </div>
    <div style="margin:5% auto; border:solid 1px darkgreen; padding:2%">
        <label>Ime:<strong> Jelena</strong> </label><br>
        <label>Prezime: <strong>Manojlovic</strong></label><br>
        <label>Kontak email: <strong>jelenamanojlovic27062000@gmail.com</strong></label>
        <label>Zahtev: Zelim da registrujem nalog pod brojem <strong>1234567891234567890</strong> za mogucnost placanja.</label>
    </div>

    <div style="display:flex; margin-bottom:2% ; justify-content: space-between;">
        <button class="btn btn-success" >
            Odobri
        </button>
        <button class="btn btn-danger">Odbij</button>
    </div>

  
</div>

