<div  style="margin: 0 auto">
    <ul style="list-style: none; font-size:10px"> 

         <mat-card *ngIf="this.drive.passengers.length !== 0">
            <mat-card-header>
                <p>
                    <mat-checkbox   style="font-size: 20px" [formControl]="disableSelect" (change)="setSplit($event)">Podeli cenu sa ostalim putnicima</mat-checkbox>
                  </p>

            </mat-card-header>
            <hr>
            
            <mat-card-content>
                <li *ngFor="let participant of this.drive.passengers" style="font-size: 20px;">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1" >
                
                            <div class="row" style="margin:0 auto">
                                <span  class="material-icons" style="color:#673ab7; width: max-content;">person</span>
                                
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <p><small><strong>{{participant.passengerName}} {{participant.passengerSurname}}</strong></small></p>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5" *ngIf="this.drive.splitBill===false">
                           <label><small>zaduzenje: <strong>0 RSD</strong></small></label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5" *ngIf="this.drive.splitBill===true">
                            <label><small>zaduzenje: <strong>{{((this.drive.price+this.starting_price)/(this.drive.passengers.length+1)).toFixed(2)}} RSD</strong></small></label>
                         </div>

                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <p ><small>putnik</small></p>
                        </div>
              
                    </div>

                    
                </li>
            </mat-card-content>
       
    </mat-card>
    </ul>
</div>
