
.map-container {
  top: 0;
  left: 0;
  margin: 15px;
  height: 500px;
  width: 50%;
}
.map-frame{
  border: 2px solid black;
  height: 100%;
}
#map{
  height: 100%;
}

.data{
  margin: 15px;
}

.address{
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin-left: 20px;
  margin-top: 10px;
}

.additionalStopsHidden{
  visibility: hidden;
}

.additionalButtonHidden{
  visibility: hidden;
}
.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
