
<div class="container">
  <div class="row">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"
             leaflet
             (leafletMapReady)="onMapReady($event)"
             [leafletOptions]="options"
             [leafletLayers]="mainGroup"
        ></div>
      </div>
    </div>
    <form class="data col">
      <div class="row">
        <h4 class="col">Unos adresa</h4>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addToFavorites()">
              <mat-icon [ngStyle]="{'color':'red'}" >favorite</mat-icon>
              <span>Dodaj rutu u omiljene</span>
            </button>
            <button mat-menu-item (click)="showFavorites()">
              <mat-icon [ngStyle]="{'color':'black'}">add_road</mat-icon>
              <span>Uzmi postojecu rutu</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="row">
        <app-address-item #address1 class="address" [addressText]="'Pocetna adresa'" [isRequired]="true"
                          (isValid)="isValid($event)"
                          (addressChange)="addressChanged($event, 'start')"></app-address-item>
      </div>

      <div  *ngIf="service.isLoggedIn()">
        <div class="row">
          <div class="example-button-row">
            <div *ngIf="!showAdditional; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <button mat-icon-button matTooltip="Dodaj usputne stanice" aria-label="Usputne stanice"
                      (click)="showAdditional = true">
                <mat-icon>add</mat-icon>
              </button>
            </ng-template>
            <ng-template #elseBlock>
              <button mat-icon-button matTooltip="Sakri" aria-label="Usputne stanice" (click)="showAdditional = false">
                <mat-icon>remove</mat-icon>
              </button>
            </ng-template>

          </div>
        </div>
        <div *ngIf="showAdditional">
          <div class="row justify-content-center">
            <app-address-item class="address" [addressText]="'Upisi adresu'" [isRequired]="false"
                              (addressChange)="addressChanged($event)"></app-address-item>
          </div>
          <div>
            <div class="drag-wrapper"
                 *ngFor="let row of stops; let index = index"
                 [draggable]="true"
                 [class.dragging]="index === this.draggingIndex"
                 (dragstart)="onDragStart(index)"
                 (dragenter)="onDragEnter(index)"
                 (dragend)="onDragEnd()">
              <div class="card">
                <app-address-view class="address-view" [address]="row" (remove)="removeAddressFromAdditional(index)"></app-address-view>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  class="row">
        <app-address-item #address2 class="address" [addressText]="'Krajnja adresa'" [isRequired]="true"
                          (isValid)="isValid($event)"
                          (addressChange)="addressChanged($event, 'end')"></app-address-item>
      </div>

      <div *ngIf="showSummary">
        <div class="row justify-content-start"><h5>Pronadjena optimalna putanja</h5></div>
        <div class="row justify-content-start"><h6>Razdaljina {{drive.distance}} km</h6></div>
        <div class="row justify-content-start"><h6>Trajanje {{drive.duration}} min</h6></div>
        <div class="row justify-content-start"> <h6>Procenjena cena {{drive.price}} RSD</h6></div>
      </div>

      <div class="row justify-content-end">
        <div *ngIf="nextPage; then thenBlockNext else elseBlockNext"></div>
        <ng-template #thenBlockNext>
         <button *ngIf="service.isLoggedIn() && nextPage && showSummary" mat-raised-button type="button" class="col-4" color="primary" (click)="openNextPage()">Dalje</button>
          <button *ngIf="service.isLoggedIn() && openDialog" mat-raised-button type="button" class="col-4" color="primary" (click)="openRouteDialog()">Izaberi putanju</button>
          <button *ngIf="!service.isLoggedIn() && !showSummary" mat-raised-button type="button" class="col-6" color="primary" (click)="getOptimalRoute()">Nadji optimalnu putanju</button>
        </ng-template>
        <ng-template #elseBlockNext>
          <button mat-raised-button type="button" class="col-4" color="primary" (click)="showRoute()">Prikazi putanju
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
