
.map-container {
  top: 0;
  left: 0;
  margin: 15px;
  height: 500px;
  width: 50%;
}
.map-frame{
  border: 2px solid darkslateblue;
  height: 100%;
}
#map{
  height: 100%;
}

.data{
  margin: 15px;
}

.address{
  min-width: 150px;
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
}

.address-view{
  min-width: 150px;
  width: 100%;
}

.example-button-row button{
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

/*.drag-wrapper {*/
/*  padding: 4px 0;*/
/*  width: 90%;*/
/*}*/

/*.drag-wrapper.dragging {*/
/*  opacity: 0.5;*/
/*}*/

/*.card {*/
/*  padding: 4px;*/
/*}*/
